extends layout

block content
  h2.mb-4
    i.bi.bi-cpu.me-2
    | OBJECTS DATABASE / 物品数据库
  
  .table-responsive
    table.table.table-striped
      thead
        tr
          th OBJ_ID
          th NAME / 名称
          th DESCRIPTION / 描述
          th LOCATION / 位置
          th CREATED / 创建时间
      tbody
        if items.length === 0
          tr
            td.text-center.text-muted(colspan="5") [NO DATA] 暂无物品记录
        else
          each item in items
            tr
              td= item.id
              td= item.name
              td= item.description
              td
                if item.scene_id
                  | ZONE_#{item.scene_id}
                else if item.character_id
                  | ENTITY_#{item.character_id}
                else
                  | [NULL]
              td= new Date(item.created_at).toLocaleString('zh-CN')

